body {
  background: #857671
}

.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: #4e413b;
  max-height: 158px;
  height: auto;
  overflow: hidden;
  color: white;
}

.navBar {
  max-width: 640px;
  margin: auto;
  height: auto;
  background: #8d4b31;
  letter-spacing: 1.25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #753f29;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #faf9f4;
  font-weight: 200;
  font-size: 0.90em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li a:hover {
  background: #753f29;
}

.active {
  background: #f34b09;
}

.App-title {
  font-size: 1.5em;
}

.content {
  background: #e2ded3;
  width: auto;
  min-height: 300px;
  height: auto;
  margin: auto;
  padding: 10px;
  overflow: auto;
}

.motherContent {
  background: #3b3838;
  max-width: 60%;
  margin: auto;
  border-radius: 5px;
}

.content1 {
  display: inline-block;
  max-width: 50%;
  padding: 10px;
  overflow: auto;
  vertical-align: top;
}

.content2 {
  display: inline-block;
  padding: 10px;
  overflow: auto;
  vertical-align: top;
}

.fusioninput {
  font-size: 1em;
  background: #3b3838;
  color: #ecebe7;
  float: right;
  padding: 20px;
  padding-right: 32px;
  border-radius: 5px;
  text-align: left;
}

label {
  font-weight: bold;
  letter-spacing: 1px;
}

.filterLabel {
  font-weight: normal;
  font-size: 0.90em;
}

.result {
  background: #3b3838;
  color: #ecebe7;
  float: left;
  padding: 20px;
  padding-top: 8px;
  border-radius: 5px;
}

select {
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  margin: 10px;
  margin-bottom: 10px;
  width: 100%;
  clear: both;
}

.miniSelect {
  width: 25%;
  margin-bottom: 20px;
}

.fusebutton {
  font-size: 1em;
  border: none;
  border-radius: 4px;
  margin: 10px;
  padding: 10px 25px;
  background: #ff6d24;
  color: #faf9f4;
  font-weight: bold;
  letter-spacing: 1.25px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.fusebutton:hover {
  background: #f34b09;
}

.fusebutton:disabled {
  background: #857671;
  color: #b4a19a;
  cursor: not-allowed;
}

table {
  table-layout: fixed;
}

td {
  padding: 8px;
}

td, .headline {
  width: 175px;
}

.headline {
  padding: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  background: #f34b09;
}

th {
  padding: 20px;
  background: #ff6d24;
  color: #faf9f4;
  font-weight: bold;
  letter-spacing: 1.25px;
  font-size: 1.1em;
}

.copyright {
  font-size: 0.75em;
  font-weight: lighter;
  color: #d1c5c2;
  letter-spacing: 0.75px;
}

.fusetext {
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 10px;
  letter-spacing: 1.25px;
}

.sprite {
  border-radius: 2px;
}

.selecttext {
  color: #aaa9a9;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .content, .content1, .content2, .header {
    width:100%;
  }
}